div{
    width:23%;
    height:380px;
    background-color:#cb540f;
    float:left;
    border:2px solid green;
    margin:10px

}
#d1{
   background-color:#0fcb2b;
}
#d2{
    background-color:#455247;
 }
 #d3{
    background-color:#470fcb;
 }
 #d4{
    background-color:#cb0fa5;
 }
 /* for fitting image into div properly */
 img{
    width:100%;
    height:50%;
    border-radius:50% ;
 }
 H1{
    text-align: center;
    font-style: oblique;
    color: green;
 }
 h4,p{
    text-align: center;
 }